<div class="comment-<%= comment.id %> container" 
    style="border: 1px solid black; padding: 1px;">
    <%= comment.user.email %><br/>
    <p><%= comment.body %></p>
    <% if current_user == comment.user %>
    <span class="text-gray-500 text-xs self-end">
        Posted at <%= comment.created_at.strftime('%Y-%m-%d') %>
    </span>
    <div class="flex flex-row-reverse">
        <%= button_to 'Delete', post_comment_path(@post, comment), 
                                class:"btn btn-xs btn-danger bg-red-500", method: 'delete' %>
   </div> 
   <hr />
</div>