<%= render "users/shared/user_banner" %>
<section class="relative flex justify-center mx-auto mt-16">
  <aside class="sticky top-24 w-[242px] bg-project-blue-base p-4 h-fit shadow">
    <div class="flex flex-col">
      <div>
        <h2 class="text-lg font-bold break-words select-none">
          <%= (@user.username ? @user.username : @user.email) %>
        </h2>
        <span class="text-project-gray-dark">
          追蹤人數：
          <span data-controller="user-follow--follow-number" data-action="update-number@document->user-follow--follow-number#updateNumber">
            <%= @user.followers.count %>
          </span>
        </span>
      </div>
      <div class="my-4">
        <% if current_user %>
          <% unless current_user.followees.include?(@user) %>
            <%= link_to "追蹤", user_follow_path(id: @user.id), data: { turbo_method: "put", controller: "user-follow--follow-button", action: "click->user-follow--follow-button#clicked", user_id: @user.id, username: (@user.username ? @user.username : @user.email) }, class: "p-2 bg-project-blue-main hover:bg-project-blue-dark rounded shadow duration-100 text-project-white" %>
          <% else %>
            <%= link_to "取消追蹤", user_follow_path(id: @user.id), data: { turbo_method: "put", controller: "user-follow--follow-button", action: "click->user-follow--follow-button#clicked", user_id: @user.id, username: (@user.username ? @user.username : @user.email) }, class: "p-2 bg-project-gray-light hover:bg-project-gray-dark rounded shado duration-100 text-project-white" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @user.username %>
      <div class="mt-4">
        <h3>Email：<%= @user.email %></h3>
      </div>
    <% end %>
    <div class="mt-4">
      <h3>個人簡介：</h3>
      <p>旅行是一種令人興奮的體驗，讓我們可以探索不同的文化和風景。在旅途中，我們可以享受自由和輕鬆。每一個地方都有它獨特的風情和魅力，讓人流連忘返。無論是哪裡，都能讓我們感受到自然的奧妙和神秘。旅行讓我們生命更加豐富和有意義。</p>
    </div>
  </aside>

  <div class="ml-8">
    <%= render partial: "shared/post_card", collection: @posts, as: :post %>
    <%= paginate @posts %> 
  </div>
</section>