<section class="relative flex justify-center mx-auto mt-16">
  <aside
    class="box-border bg-white flex flex-col items-center px-6 py-8 border rounded shadow-[0_5px_15px_rgba(0,0,0,0.03)] h-fit border-project-blue-base w-[306px] sticky z-10 top-24 mr-2"
  >
    <div class="w-[200px] h-[200px] overflow-hidden rounded-full flex justify-center items-center mb-8">
      <%= image_tag "image/user.png", size:"100x100", alt:"user_avatar " %>
    </div>
    <hr />
    <div class="flex flex-col items-center w-full">
      <h2 class="text-lg font-bold text-center break-all select-none">
        <%= (@user.username ? @user.username : @user.email) %>
      </h2>
      <span class="text-project-gray-dark">
        追蹤人數：
        <span data-controller="user-follow--follow-number" data-action="update-number@document->user-follow--follow-number#updateNumber">
          <%= @user.followers.count %>
        </span>
      </span>
      <div class="flex w-full my-4 text-center">
        <% if current_user %>
          <% unless current_user.followees.include?(@user) %>
            <%= link_to "追蹤", user_follow_path(id: @user.id), data: { turbo_method: "put", controller: "user-follow--follow-button", action: "click->user-follow--follow-button#clicked", user_id: @user.id, username: (@user.username ? @user.username : @user.email) }, class: "w-full py-4 bg-project-blue-main hover:bg-project-blue-dark rounded shadow duration-100 text-project-white" %>
          <% else %>
            <%= link_to "取消追蹤", user_follow_path(id: @user.id), data: { turbo_method: "put", controller: "user-follow--follow-button", action: "click->user-follow--follow-button#clicked", user_id: @user.id, username: (@user.username ? @user.username : @user.email) }, class: "w-full py-4 bg-project-gray-light hover:bg-project-gray-dark rounded shado duration-100 text-project-white" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </aside>

  <div class="ml-2 w-[746px] bg-white border rounded shadow-[0_5px_15px_rgba(0,0,0,0.03)]  border-project-gray-light mb-8 p-3">
    <div>
      <%= render partial: "shared/post_card", collection: @posts, as: :post %>
      <%= paginate @posts %>
    </div>
  </div>
  
  
</section>