<nav class="sticky top-0 z-50 flex items-center justify-center w-full h-16 px-6 bg-white shadow">

  <div class="relative flex items-center justify-center max-w-5xl">

    <!-- 左側 logo -->
    <%= link_to root_path, draggable: "false", class: "flex items-center" do %>
      <%= image_tag 'image/logo.png', size: "140x40", alt: "TechTonic", class: " select-none col-span-2 max-h-12 w-full object-contain lg:col-span-1"%>
    <% end %>

    <!-- 搜尋框 -->
    <div class="flex items-center justify-center flex-1 px-4 ">
      <form class="relative w-60">
          <input type="text" name="keyword" value="<%= params[:keyword] %>" class="w-full h-10 px-4 border border-gray-400 rounded-md hover:border-gray-700" placeholder="搜索...">
          <button type="submit" value="" class="absolute top-0 right-0 flex items-center justify-center w-10 h-full text-gray-600 border-l border-l-gray-400 hover:cursor-pointer rounded-r-md" data-turbo="false">
            <i class="absolute fa-solid hover:cursor-pointer fa-magnifying-glass top-3 right-3" ></i>
          </button>
      </form>
    </div>

    <!-- 右側的 CTA -->
    <% if user_signed_in? %>
      <div class="mr-4 dropdown dropdown-bottom">
        <label tabindex="1" class="relative btn">
          <i class="mr-4 text-xl text-project-white fa-regular fa-bell"></i>
          <span class="absolute p-2 bg-red-500 rounded-xl -top-2 -right-2 text-project-white" data-controller="navbar--notification-count" data-action="update-count@document->navbar--notification-count#updateCount">
            <%= current_user.notifications.count %>
          </span>
        </label>
        <ul tabindex="1" class="p-2 shadow w-52 dropdown-content menu bg-project-white rounded-box">
          <% @notifications.each do |notification| %>
            <li class="relative" data-controller="navbar--notification">
              <%= link_to truncate(notification.to_notification.message, length: 16), notification.to_notification.url, title: truncate(notification.to_notification.message, length: 30), class:"mt-4 inline-block px-4 py-2 rounded-md  hover:shadow-md", data: { notification_id: notification.id, navbar__notification_target: "a" } %>
              <button class="absolute right-0 px-2 py-0 bg-red-200 rounded-full top-6 text-project-white" data-action="click->navbar--notification#deleteNotification">
                x
              </button>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="dropdown dropdown-bottom dropdown-end">
        <label tabindex="0" class="m-1 btn"><%= current_user.email%></label>
        <ul tabindex="0" class="w-full p-2 shadow dropdown-content menu bg-base-100 rounded-box">

          <li><%= link_to  "新增文章",new_post_path, data: { turbo: 'false' } , class:"mt-4 inline-block px-4 py-2 rounded-md text-slate-600 hover:shadow-md", method: "GET" %></li>
          <li> <%= link_to  "文章列表", user_posts_path(current_user), class:"inline-block px-4 py-2 rounded-md text-slate-600 hover:shadow-md", data: { turbo: 'false' } %></li>
          <li><%= link_to "個人頁面", edit_user_registration_path, class:"inline-block px-4 py-2 rounded-md text-slate-600 hover:shadow-md" %></li>
          <li><%= link_to  "登出", destroy_user_session_path, data: { turbo_method: "delete" }, class:"inline-block px-4 py-2 rounded-md text-slate-600 hover:shadow-md" %></li>

        </ul>
      </div>
    <% else %>

      <div class="flex">
        <%= link_to  "登入", new_user_session_path, class:"hover:text-indigo-600 transition-all duration-300 ease-in-out inline-block px-4 py-2 mr-4 text-blue-900 border border-blue-900 rounded-md order-blue-500 hover:bg-indigo-900 hover:text-white" %>
        <%= link_to  "註冊", new_user_registration_path, class:"inline-block px-4 py-2 rounded-md bg-text-700 hover:shadow-md hover:text-indigo-900" %>
      </div>

    <% end %>
  </div>
</nav>

<!-- 手機版的漢堡選單 -->
<div class="flex items-center md:hidden">
  <button class="text-gray-800 hover:text-gray-900 focus:outline-none focus:text-gray-900" aria-label="Toggle menu">
    <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
      <path fill-rule="evenodd" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" clip-rule="evenodd" />
    </svg>
  </button>
</div>
