<div class="bg-white shadow">
<nav class="flex items-center justify-between w-full h-16 px-6 ">

  <!-- 左側 logo -->
  <%= link_to root_path, draggable: "false", class: "flex items-center" do %>
    <%= image_tag 'image/logo.png', size: "140x40", alt: "TechTonic", class: " select-none col-span-2 max-h-12 w-full object-contain lg:col-span-1"%>
  <% end %>



<!-- 搜尋框 -->
<div class="flex items-center justify-center flex-1 px-4 ">
  <form class="relative w-60">
      <input data-navbar--search-target="input" type="text" name="keyword" value="<%= params[:keyword] %>" class="w-full h-10 px-4 border border-gray-400 rounded-md hover:border-gray-700" placeholder="搜索...">
      <button type="submit" value="" class="absolute top-0 right-0 border-l-gray-400 border-l flex items-center justify-center w-10 h-full text-gray-600 hover:cursor-pointer rounded-r-md">
        <i class="fa-solid hover:cursor-pointer fa-magnifying-glass absolute top-3 right-3"></i>
      </button>
  </form>
</div>




  <!-- 右側的 CTA -->
  <% if user_signed_in? %>





    <i class="fa-regular fa-bell text-xl mr-4"></i>
    <div class="dropdown dropdown-bottom dropdown-end">
  <label tabindex="0" class="btn m-1"><%= current_user.email%></label>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box">

      <li><%= link_to  "新增文章",new_post_path, data: { turbo_action: 'replace' } , class:"mt-4 inline-block px-4 py-2 rounded-md text-slate-600 hover:shadow-md", method: "GET" %></li>
      <li> <%= link_to  "文章列表", posts_path, class:"inline-block px-4 py-2 rounded-md text-slate-600 hover:shadow-md" %></li>
      <li><%= link_to  "登出", destroy_user_session_path, data: { turbo_method: "delete" }, class:"inline-block px-4 py-2 rounded-md text-slate-600 hover:shadow-md" %></li>
    </ul>
</div>

  <% else %>

  <div class="flex">
    <%= link_to  "登入", new_user_session_path, class:"inline-block px-4 py-2 mr-4 text-blue-900 border border-blue-900 rounded-md order-blue-500 hover:bg-indigo-900 hover:text-white" %>
    <%= link_to  "註冊", new_user_registration_path, class:"inline-block px-4 py-2 rounded-md bg-text-700 hover:shadow-md hover:text-indigo-900" %>
  </div>

  <% end %>
  </div>

</nav>
  </div>

 <!-- 手機版的漢堡選單 -->
  <div class="flex items-center md:hidden">
    <button class="text-gray-800 hover:text-gray-900 focus:outline-none focus:text-gray-900" aria-label="Toggle menu">
      <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
        <path fill-rule="evenodd" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
