<nav class="flex items-center py-0 bg-white shadow-md h-[60px] max-w-2">
  <div class="logo">
    <%= image_tag 'image/logo.png', size: "140x40", alt: "TechTonic", class: "h-10 ml-16 w-36"%>
    </div>
  <div class="flex">
      <div class="relative">
          <input type="search" id=location-search" class="w-[244px] h-[40px] ml-[166px] block z-20 text-gray-900 bg-gray-50 rounded-sm border border-gray-300 hover:bg-gray-100">
          <button type="submit" class="absolute h-[30px] w-[30px] top-[5px] right-[8px] bg-gray-50">
              <svg aria-hidden="true" class="w-[30px] h-[30px]" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
              <span class="sr-only">Search</span>
          </button>
      </div>
  </div>


  <ul class="flex ml-auto mr-4">
    <li ><%= link_to "登入", new_user_session_path, class: "mx-4 text-lg" %></li>
    <li ><%= link_to "註冊", new_user_registration_path, class: "mx-4 text-lg" %></li>
    <li><%= link_to "登出", destroy_user_session_path, class: "mx-4 text-lg", data:{ turbo_method: "delete" } %></li>

  </ul>
  <div class="dropdown dropdown-hover dropdown-end">
      <div class="m-4">
        <img src="https://picsum.photos/300/200/?random=10" class="w-10 h-10 rounded-full">
      </div>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-sm w-32 bg-gray-100 -mt-3.5">
      <li class="text-lg"><%= link_to "關於我", "#" %></li>
      <li class="text-lg"><%= link_to "我的文章", "#" %></li>
      <li class="text-lg"><%= link_to "我的標籤", "#" %></li>
      <li class="text-lg"><%= link_to "我的追蹤", "#" %></li>
      <li class="text-lg"><%= link_to "我的設定", "#" %></li>
    </ul>
  </div>
</nav>
