<div class="p-4 my-2 bg-white border-solid shadow-md rounded-sm h-[150px] w-[770px] items-center flex"
  id="<%= dom_id post %>">
  <div class="flex flex-col">

    <!-- 使用者頭像、名稱和發文時間 -->
    <div class="flex items-center">
      <img src="https://picsum.photos/40/40/?random=10" class="rounded-full" />
      <div class="mx-4 text-sm">
        <%= link_to "#{post.user.email}", root_path %>
      </div>
      <div class=" text-xs text-gray-500">
        Posted at : <%= post.updated_at.strftime("%b. %d. %Y") %>
      </div>
    </div>

    <!-- 文章標題 -->
    <%= link_to post_path(id: post.id) do %>
      <h2 class="my-2 text-xl font-bold"><%= post.title %></h2>
    <% end %>

    <!-- 文章標籤 -->
    <ul class="flex">
      <% post.tags.each do |tag| %>
      <li class="mr-4 text-sm text-gray-500">
        <i class="fa-solid fa-tag fa-rotate-90 fa-xs"></i>
        <%= link_to "#{tag.name.capitalize}", tag_path(id: tag.id) %>
      </li>
      <% end %>
    </ul>
  </div>

  <!-- 文章圖片 -->
  <div class="ml-auto">
    <img src="https://picsum.photos/120/120/?random=10" />
  </div>
  
</div>
