<div
  class="p-4 my-4 bg-project-white border-solid shadow-md rounded-md w-[770px] items-center flex"
  id="<%= dom_id post %>"
>
  <div class="flex flex-col">

    <div class="flex items-center">
      <img src="https://picsum.photos/40/40/?random=10" class="rounded-full" />
      <div class="mx-4">
        <%= link_to "#{post.user.email}", root_path, class: "text-lg" %>
      </div>
      <div class="mx-4">
        <%= post.updated_at.strftime("%b. %d, %Y") %>
      </div>
    </div>

    <%= link_to post_path(id: post.id) do %>
      <h2 class="my-4 text-4xl font-bold"><%= post.title %></h2>
    <% end %>

    <ul class="flex my-2">
      <% post.tags.each do |tag| %>
      <li class="mr-4 text-xl">
        <%= link_to "# #{tag.name}", tag_path(id: tag.id) %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="ml-auto">
    <img src="https://picsum.photos/120/120/?random=10" />
  </div>
  
</div>
