<div class="flex mt-16">
  <aside class="w-[196px] bg-project-white p-4 h-fit mx-8 rounded-lg shadow-md">
    <% if current_user %>
      <h3 class="text-xl font-bold">追蹤的標籤</h3>
      <ul>
        <% current_user.tags.each do |tag| %>
          <li class="my-4">
            
            <%= link_to tag_path(id: tag.id) do %>
            <i class="fa-solid fa-tag fa-rotate-90 fa-xs"></i>
            <span class="uppercase"><%= tag.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h3 class="text-xl font-bold">歡迎加入TechTonic！</h3>
    <% end %>
  </aside>
  
  <div>
    <%= render partial: "shared/post_card", collection: @posts, as: :post %>
    <%= paginate @posts %> 
  </div>

  <aside>
    <% if @followees_posts_count.present? %>
      <div data-controller="notification"><%= @followees_posts_count %></div>
    <% end %>
  </aside>
</div>

<% flash.each do |key, value| %>
  <% if key.to_sym == :noticed %>
    <% value.each do |notice| %>
      <div class="alert alert-<%= notice.level %>">
        <h4 class="alert-heading"><%= notice.title %></h4>
        <%= notice.body %>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
<% end %>