<div class="flex justify-center mt-16">
  <aside class="w-[204px] p-4 mr-2 bg-white rounded-lg shadow h-fit border border-project-gray-light">
    <% if current_user %>
      <h3 class="text-lg font-bold">我追蹤的標籤：</h3>
      <ul>
        <% current_user.tags.each do |tag| %>
          <li class="my-4 ml-2">
            
            <%= link_to tag_path(id: tag.id) do %>
            <i class="fa-solid fa-tag fa-rotate-90 fa-xs"></i>
            <span class="uppercase"><%= tag.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h3 class="text-xl font-bold">歡迎加入TechTonic！</h3>
    <% end %>
  </aside>
  
  <div class="mx-2">
    <%= render partial: "shared/post_card", collection: @posts, as: :post %>
    <%= paginate @posts %> 
  </div>

  <aside class="bg-white w-[288px] p-4 h-fit rounded-lg shadow border border-project-gray-light">
    <% if current_user %>
    <h2 class="text-lg font-bold">我追蹤的用戶：</h2>
    <ul>
      <% current_user.followees.each do |followee| %>
        <li><%= link_to (followee.username ? followee.username : followee.email), user_path(followee.id), class: "hover:text-project-blue-main hover:underline" %></li>
      <% end %>
    </ul>
      
    <% end %>
  </aside>
  <div class="w-8 h-8 bg-project-blue-main text-project-blue-pale">asdf</div>
</div>

<!--
<% flash.each do |key, value| %>
  <% if key.to_sym == :noticed %>
    <% value.each do |notice| %>
      <div class="alert alert-<%= notice.level %>">
        <h4 class="alert-heading"><%= notice.title %></h4>
        <%= notice.body %>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
<% end %>
-->