<div class="flex justify-center min-h-[100vh]">
  <!-- 左側邊攔 -->
  <div class="fixed left-8">
    <div class="w-[204px] mt-4 mx-2 rounded shadow-md bg-white self-start pt-4">
      <h2 class="ml-2 text-lg font-bold">Trending Tags</h2>
      <% @tags.each do |tag| %>
        <div class="flex justify-between mx-4 my-2 text-sm hover:underline hover:text-[#2C3085]">
          <%= link_to tag.name, tag_path(tag.id) %>
        </div>
      <% end %>
    </div>
  </div>


  <!-- 標籤和追蹤鈕 -->
  <div class="ml-[208px]">
    <div class="w-[770px] bg-white mt-4 rounded shadow-md text-center py-6"> 
      <div class="text-xl uppercase"><%= @tag.name %></div>
      <div class="flex items-center justify-center gap-4 mt-4 text-xs text-gray-500 ">
        <%= @tag.users.size %> followers
        <% if current_user.present? %>
          <%= current_user.tags.include?(@tag) ? 
              link_to("Unfollow", tag_follow_path(id: @tag.id), class: "rounded p-2 bg-gray-600 text-white font-medium hover:bg-gray-800", data: { turbo_method: "put" }) :
              link_to("Follow", tag_follow_path(id: @tag.id), class: "rounded p-2 bg-blue-600 text-white font-medium hover:bg-blue-800", data: { turbo_method: "put" }) %>
        <% end %>
      </div>
    </div>

    <!-- 文章列表 -->
    <div>
      <%= render partial: "shared/post_card", collection: @posts, as: :post %>
      <%= paginate @posts %>
    </div>
  </div>


  <!-- 右側邊攔 -->
  <div class="flex flex-col gap-2 mx-4 text-sm w-[204px] mt-4 rounded shadow-md bg-white self-start p-4">
    <%= link_to 'Explore', root_path, class:"hover:underline hover:text-[#2C3085]" %>
    <%= link_to 'About', root_path, class:"hover:underline hover:text-[#2C3085]" %>
    <%= link_to 'Posts', root_path, class:"hover:underline hover:text-[#2C3085]" %>
    <%= link_to 'All', root_path, class:"hover:underline hover:text-[#2C3085]" %>
    <span class="mx-auto text-xs text-gray-500">@2023 TechTonic</span>
  </div>
</div>
