<h1 class="text-4xl">#<%= @tag.name %></h1>

<% unless current_user.tags.include?(@tag) %>
  <div class="flex w-full my-4">
    <%= link_to "Follow", tag_follow_path(id: @tag.id), class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium", data: { turbo_method: "put" } %>
  </div>
  <% else %>
  <div class="flex w-full my-4">
    <%= link_to "Unfollow", tag_follow_path(id: @tag.id), class: "rounded-lg py-3 px-5 bg-gray-600 text-white font-medium", data: { turbo_method: "put" } %>
  </div>
<% end %>

<div>
  <%= link_to "降冪排序", tag_path(id: @tag.id, order: "desc") %>
  <%= link_to "升冪排序", tag_path(id: @tag.id, order: "asc") %>
</div>

<div>
  <%= render @posts %>
  <%= paginate @posts %>
</div>
