<div class="flex justify-center">
  <!-- 左側邊攔 -->
  <div>
    <div class="w-40 mt-4 mx-2 rounded-sm shadow-md bg-white self-start">
        <span class="font-bold text-lg m-2">Trending Tags</span>
        <div class="my-2 flex text-sm mx-4 justify-between">
            <button class=""><%= @tag.name.capitalize %></button>
        </div>
        <div class="my-2 flex text-sm mx-4 justify-between">
            <button class=""><%= @tag.name.capitalize %></button>
        </div>
        <div class="my-2 flex text-sm mx-4 justify-between">
            <button class=""><%= @tag.name.capitalize %></button>
        </div>
        <div class="my-2 flex text-sm mx-4 justify-between">
            <button class=""><%= @tag.name.capitalize %></button>
        </div>
        <div class="divider w-36 mx-auto"></div> 
        <div class="mx-2 flex flex-col gap-2 px-2 text-sm">
          <%= link_to 'Explore' %>
          <%= link_to 'About' %>
          <%= link_to 'Posts' %>
          <%= link_to 'All'%>
          <span>@ 2023 TechTonic</span>
        </div>
    </div>
    
  </div>


  <!-- 標籤和追蹤鈕 -->
  <div>
    <div class="w-[770px] bg-white mt-4 rounded-sm shadow-md text-center pb-2">
      <h1 class="text-2xl inline mx-auto">
        <%= image_tag 'image/Ruby icon', alt: "ruby icon", class: " select-none col-span-2 max-h-20 w-full object-contain lg:col-span-1"%>
        <%= @tag.name.capitalize %>
        <div class="text-xs text-gray-500 m-2">
          <%= @tag.users.size %> followers
        </div>
      </h1>
    </div>

    <!-- 文章列表 -->
    <div>
      <%= link_to "Last", tag_path(id: @tag.id, order: "desc"), class:"btn btn-xs rounded-sm bg-[#6380F2] border-none mt-2" %>
      <%= link_to "Top", tag_path(id: @tag.id, order: "asc"), class:"btn btn-xs rounded-sm bg-[#6380F2] border-none mt-2" %>
    </div>

    <div>
      <%= render partial: "shared/post_card", collection: @posts, as: :post %>
      <%= paginate @posts %>
    </div>
  </div>


  <!-- 右側邊攔 -->
  <div class="w-64 mt-4 mx-2 rounded-sm shadow-md bg-white self-start p-4 text-justify	">
    <h2 class="font-bold text-xl">About This Tag</h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur aliquam doloribus reprehenderit reiciendis, dolorem placeat et totam ad corrupti perspiciatis laboriosam excepturi, cum mollitia error nam ratione ipsa veritatis eligendi.
  </div>
</div>