
 <div class="relative h-32 bg-gray-900">
    <div class="absolute bottom-0 w-24 h-24 bg-white letf">
      
      <% if current_user.avatar? %>
        <% else %>
      <% end %>
      
    </div>
</div>
  <%= notice %>
  <div class="flex justify-center mt-16">
    <div>
      <ul class="w-48 text-center">
        <li>
          <a href="">簡介</a>
        </li>
        <li><a href="">我的文章</a></li>
        <li><a href="">收藏文章</a></li>
        <li><a href="">關注作者</a></li>
        <li><a href="">
            <%if current_user %>
    <ul>
      <h2>已追蹤標籤</h2>
      <% current_user.tags.each do |tag|%>
        <li class="text-xl"><%= link_to tag.name, tag_path(id: tag.id) %></li>
      <% end %>
    </ul>
  <% end %>
        </a></li>
      </ul>
    </div>
    <div>



  <% @posts.each do |post| %>
    <div class=" border-0 w-1/4 flex  shadow-[0_5px_15px_rgba(0,0,0,0.05)] ">
        <p class="text-4xl"><%= post.title %></p>
        <br>
        <%= link_to  "編輯", edit_post_path(post.id) %>
        <%= button_to  "刪除", post_path(post.id), method: :delete %>
    </div>
  <% end %>
</div>
</div>

</div>
 
