<main class="flex justify-center pt-8 pb-16 lg:pt-16 lg:pb-24 dark:bg-gray-900">
    <div class="flex justify-between max-w-screen-xl px-4 ">
        <article class="w-3/4 p-16 m-auto mx-12 bg-white format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="w-16 h-16 mr-4 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Jese Leos">
                        <div>
                            <%= link_to @post.user.email, user_path(@post.user_id), class:"text-xl font-bold text-gray-900 dark:text-white" %></a>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400">Graphic Designer, educator & CEO Flowbite</p>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022"><%= @post.created_at %></time></p>
                        </div>
                    </div>
                </address>
                <%@post.tags.each do |t|%>
                    <span class="inline-block px-2 py-1 mr-1 text-xs font-semibold uppercase rounded bt-4 text-<%= tag_color() %>-600 bg-<%= tag_color()%>-200 last:mr-0">#<%= t.name%></span>
                <% end %>
                    
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"><%= @post.title%></h1>
            </header>
            <div data-controller="vditor--show-post" data-vditor--show-post-target="content">
                <%= @post.content %>
            </div>
            <div id="likes_<%= @post.id %>">
                <%= render partial: 'posts/like', locals: { post: @post } %>
            </div>
            <form class="mb-6">
                <%= render 'comments/form', post: @post  %>
                <% @comments.each do  |comment| %>
                    <%= render 'comments/comment', post: @post, comment: comment %>
                <% end %>
            </form>
        </article>
    </div>
</main>
