<%= render "users/shared/user_banner" %>
<section class="flex justify-center mt-16">

  <%= render "users/shared/side_menu"%>
  <section class="ml-6 w-6/12 bg-white border rounded shadow-[0_5px_15px_rgba(0,0,0,0.03)]  border-project-blue-base">
    <!-- component -->
    <div class="min-h-screen pt-2 bg-gray-200 ui-sans-serif font-ui-sans-serif">
        <div class="container mx-auto">
            <div class="w-full max-w-2xl p-6 mx-auto inputs">
                <h2 class="text-2xl text-gray-900">個人設定</h2>
                <form class="pt-4 mt-6 border-t border-gray-400">
                    <div class='flex flex-wrap mb-6 -mx-3'>
                        <div class='w-full px-3 mb-6 md:w-full'>
                            <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase' for='grid-text-1'>信箱</label>
                            <input class='block w-full px-4 py-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded-md shadow-inner appearance-none focus:outline-none focus:border-gray-500' id='grid-text-1' type='text' placeholder='輸入 email'  required>
                        </div>
                        <div class='w-full px-3 mb-6 md:w-full '>
                            <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase'>密碼</label>
                            <button class="px-2 py-1 text-gray-900 bg-gray-200 border border-gray-400 rounded-md shadow-sm appearance-none ">更改密碼</button>
                        </div>
                        <div class='w-full px-3 mb-6 md:w-full'>
                            <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase'>國家</label>
                            <div class="relative flex-shrink inline-block w-full">
                                <select class="block w-full px-4 py-2 pr-8 text-gray-600 bg-white border border-gray-400 rounded shadow-inner appearance-none">
                                    <option>請輸入···</option>
                                    <option>台灣</option>
                                    <option>美國</option>
                                    <option>法國</option>
                                    <option>西班牙</option>
                                    <option>英國</option>
                                </select>
                                <div class="absolute top-0 right-0 flex items-center px-2 mt-3 text-gray-600 pointer-events-none">
                                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                        </div>
                        <div class='w-full px-3 mb-6 md:w-full'>
                            <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase'>語言</label>
                            <div class="relative flex-shrink inline-block w-full">
                                <select class="block w-full px-4 py-2 pr-8 text-gray-600 bg-white border border-gray-400 rounded shadow-inner appearance-none">
                                    <option>請輸入···</option>
                                    <option>中文</option>
                                    <option>英文</option>
                                    <option>法文</option>
                                    <option>日文</option>
                                </select>
                                <div class="absolute top-0 right-0 flex items-center px-2 mt-3 text-gray-600 pointer-events-none">
                                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                        </div>
                        <div class="w-full pt-4 border-t border-gray-400 personal">
                            <h2 class="text-2xl text-gray-900">關於我:</h2>
                            <div class="flex items-center justify-between mt-4">
                                <div class='w-full px-3 mb-6 md:w-1/2'>
                                    <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase' >名</label>
                                    <input class='block w-full px-4 py-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded-md shadow-inner appearance-none focus:outline-none focus:border-gray-500' type='text'  required>
                                </div>
                                <div class='w-full px-3 mb-6 md:w-1/2'>
                                    <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase' >姓</label>
                                    <input class='block w-full px-4 py-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded-md shadow-inner appearance-none focus:outline-none focus:border-gray-500' type='text'  required>
                                </div>
                            </div>
                            <div class='w-full px-3 mb-6 md:w-full'>
                                <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase'>使用者名稱</label>
                                <input class='block w-full px-4 py-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded-md shadow-inner appearance-none focus:outline-none focus:border-gray-500' type='text'  required>
                            </div>
                            <div class='w-full px-3 mb-6 md:w-full'>
                                <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase' >簡介</label>
                                <textarea class='w-full h-20 px-3 py-2 font-medium leading-normal placeholder-gray-700 bg-gray-100 border border-gray-400 rounded-md shadow-inner resize-none focus:outline-none focus:bg-white'  required></textarea>
                            </div>
                            <div class="flex justify-end">
                                <button class="px-2 py-1 mr-3 text-gray-900 bg-gray-200 border border-gray-400 rounded-md shadow-sm appearance-none" type="submit">儲存</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%= form_with(model: resource, class: "flex flex-col justify-center w-1/2", as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="flex flex-col w-full my-4 field">
        <%= f.label :email %>
        <%= f.text_field :email, data: { controller: "user-edit--email", action: "input->user-edit--email#searchEmail" } %>
      </div>

      <div data-controller="user-edit--password">
        <div class="flex flex-col w-full my-4 field">
          <%= f.label :current_password, "原密碼：" %>
          <span class="text-sm">（請輸入您現在的密碼，以確認是本人的操作）</span>
          <%= f.password_field :current_password, autocomplete: "current-password", data: { user_edit__password_target: "oldPassword", action: "input->user-edit--password#checkPassword" } %>
        </div>
        <div class="flex flex-col w-full my-4 field">
          <%= f.label :password, "新密碼：" %><span class="text-sm">（若沒有要更換密碼請留白）</span>
          <%= f.password_field :password, autocomplete: "new-password", data: { action: "input->user-edit--password#setNewPassword", user_edit__password_target: "newPassword" }, class: "cursor-not-allowed bg-project-gray-light duration-100", disabled: true %>
          <% if @minimum_password_length %>
            <em class="text-sm">最少<%= @minimum_password_length %>個字元</em>
          <% end %>
        </div>
        <div class="flex flex-col w-full my-4 field">
          <%= f.label :password_confirmation, "新密碼確認：" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", disabled: true, data: { user_edit__password_target: "newPasswordConfirmation", action: "input->user-edit--password#setNewPassword" }, class: "cursor-not-allowed bg-project-gray-light duration-100" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="flex items-center justify-center w-full">
        <%= f.submit "更新Email&密碼", class: "p-4 rounded bg-gray-400 shadow duration-200 cursor-not-allowed", disabled: true, data: { controller: "user-edit--submit-button", action: "disable-email-checked@document->user-edit--submit-button#checker enable-email-checked@document->user-edit--submit-button#checker disable-password-checked@document->user-edit--submit-button#checker 
        enable-password-checked@document->user-edit--submit-button#checker" } %>
      </div>
    <% end %>
  </section>
</section>
  
  <!--
  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
  -->
